:root{

    --color-orange:rgb(228, 153, 100);
    --color-bisque:bisque;
    --color-white:white;
    --color-lightoragne:rgb(248, 171, 29);
    
    --font-sizeLar:50px;
    --font-sizeMid:30px;
    --font-sizeSmall:20px;
}

body{
  position: relative;
}

i{
    color: var(--color-lightoragne);
    font-size: 35px; 
    margin-right: 10px;
}

p{
  font-size: var(--font-sizeSmall);
}

h1{
    color:var(--color-white);
    font-size:var(--font-sizeLar);

}

h2{
    color: var(--color-lightoragne);
    font-size: var(--font-sizeMid);
}

#navBar{
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin:0;
  top:0px;
  padding: 10px;

}
.master {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background:  url("img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    }

/* Navbar */

.d-flex {
  font-size: 20px;
    }

.nav-link{
    color:chocolate;
    font-weight: bold;
    }

.nav-link:hover{
    background-color: var(--color-orange);
    color: var(--color-bisque); 
    
}

.nav-link.active{
    background-color: var(--color-orange);
    color: var(--color-bisque); 
    /* border-bottom:0.25rem  solid #64a19d; */
}

/*JEEPGO */



.carousel-inner{
  margin-top: 40px;
  margin-bottom: 20px;
}

.carousel-control-prev{
  color: yellow;
}

/* MION */
.mion__title{
  color:blue;
}

.btn-primary{
    background-color: var(--color-orange);
    border:none;
    width: 200px;
    height: 40px;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
width: 100%;
padding-right: var(--bs-gutter-x, 0.75rem);
padding-left: var(--bs-gutter-x, 0.75rem);
margin-right: auto;
margin-left: auto;
}

/* Contact List */
.contact-section {
    padding-top: 5rem;
  }
  .contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid #64a19d;
  }
  .contact-section .card h4, .contact-section .card .h4 {
    font-size: 0.8rem;
    font-family: ""Varela Round"", -apple-system, BlinkMacSystemFont, ""Segoe UI"", Roboto, ""Helvetica Neue"", Arial, sans-serif, ""Apple Color Emoji"", ""Segoe UI Emoji"", ""Segoe UI Symbol"", ""Noto Color Emoji"";
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
  .contact-section .card hr {
    border-color: #64a19d;
    border-width: 0.25rem;
    width: 3rem;
  }
  .contact-section .social {
    margin-top: 5rem;
  }
  .contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.3);
  }
  .contact-section .social a:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  .contact-section .social a:active {
    color: #fff;
  }
  
  .footer {
    padding: 5rem 0;
  }
